@using BoardGameApp.Web.ViewModels.Ticket
@model IEnumerable<TicketIndexViewModel>

@{
    ViewData["Title"] = "All Tickets";
}

<h2>All Tickets</h2>


<div class="d-flex flex-wrap gap-3">
    @foreach (var ticket in Model)
    {
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@ticket.BoardGameTitle</h5>
                <h6 class="card-subtitle mb-2 text-muted">Issued: @ticket.IssuedOn.ToString("g")</h6>
                <p class="card-text">
                    <strong>Price:</strong> @($"{ticket.Price:F2} лв.")<br />
                    <strong>Quantity:</strong> @ticket.Quantity<br />
                    <strong>User:</strong> @ticket.UserName
                </p>
                <a asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-outline-info btn-sm">Details</a>
            </div>
        </div>
    }
</div>
